body{
    background-color: blanchedalmond;
    margin: 0px;
    padding: 0px;
    display: flex;
}
.avatar{
    width: 200px;
    height: 200px;
    margin-top: 50px;
}

.left-part{
    width: 300px;
    height: 100vh;
    padding-left: 50px;
    background-color: gray;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.right-part{
    padding-left: 50px;
    width: 100vw;
    height: 100vh;
    background-color: rgb(180, 180, 180);
}

#full-name{
    font-size: 40px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-bottom: 0px;
}
#profession{
    font-size: 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#about{
    font-size: 30px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#about-text{
    font-size: 16px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#education{
    font-size: 30px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#education-text{
    font-size: 16px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#contact{
    font-size: 30px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#contact-text{
    font-size: 16px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#linkedin{
    font-size: 16px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-decoration: none;
    background-color: rgb(78, 103, 192);
    color:white;
    padding: 5px;
    border-radius: 5px;
    
}